.rootWrapper {
  margin-left: 20%;
  display: flex;
  flex-wrap: wrap;
}

.pagetitle {
  margin-left: 5%;
  font-size: x-large;
}

.leftMenu {
  height: 100%;
  width: 15%;
  background-color: #EEE;
  position: fixed;
  left: 0;
  top: 0;
  overflow-x: hidden;
  padding-top: 5%;
  padding-left: 2%;
}

.tag {
  display: inline-block;
  margin-left: 1%;
}

.article {
  border: solid 0.1em #000000; 
  margin-right: 5%; 
  margin-bottom: 5%;
}

.articleText {
  margin-right: 5%;
}


@media only screen and (max-width: 700px) {
     
  .leftMenu {
    visibility: hidden;
  }
 
  .main {
    margin-left: 0%;
    width: 100%;
  }
  .rootWrapper {
    margin-left: 0%;
    user-zoom: zoom;
  }
} /* デバイスの横幅が700px以下(スマートフォン)の場合サイドバー非表示 */
