.pagetitle {
  font-size: x-large;
}

.leftMenu {
  height: 100%;
  width: 15%;
  background-color: #EEE;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  overflow-x: hidden;
  padding-top: 60px;
  padding-right: 60px;
  padding-left: 30px;
  transition: 0.5s;
}
.mainArticle {
  margin-left: 20%;
}
